

:root {
    --bg: rgb(24, 24, 24);
    --dull: rgb(75, 75, 75);
    --text: white;
    --accent: salmon;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}
body {
    background-color: var(--bg);
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



main {
    height: fit-content;
    padding: 3rem;
    width: 100vw;
}
.note-group {
    gap: 10px;
}
.date {
    width: 100%;
    justify-content: left;
    text-align: left;
}
.note {
    position: relative;
    padding: 1rem;
    background-color: var(--dull);
    border-radius: 10px;
    width: 400px;
}
.note.active {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    overflow-y: scroll;
    justify-content: flex-start;
    padding-top: 1.5rem;
}
.note::-webkit-scrollbar {
    display: none;
}



textarea {
    background-color: transparent;
    color: var(--text);
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    field-sizing: fixed;
    min-height: 2rem;
    max-height: 2rem;
    text-wrap: nowrap;
}
textarea.active {
    field-sizing: content;
    min-height: fit-content;
    max-height: none;
    text-wrap: wrap;
}


.title {
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    text-overflow: wrap;
}
.body {
    width: 100%;
    height: fit-content;
    text-overflow: wrap;
}


button {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 50%;
    padding: 8px;
    border: none;
}


fixed {
    z-index: 100;
}


.btn svg {
    width: 25px;
    height: auto;
}
.btn svg g, .btn svg path {
    fill: var(--text);
}

.add-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.add-btn.hidden {
    display: none;
}

/* .exit-btn {
    position: fixed;
    top: calc(1rem + 10px);
    left: calc(1rem + 10px);
    display: none;
}
.exit-btn.active {
    display: flex;
} */

.save-btn {
    position: fixed;
    bottom: calc(1rem + 10px);
    right: calc(1rem + 10px);
    display: none;
}
.save-btn.active {
    display: flex;
}

@media screen and (max-width: 500px) {
    .note {
        width: 92vw;
    }
}